<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=cp1251"/>
    <title>Add Review</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

</head>

<body>
<div class="container my-5">
    <h3> Add Review</h3>
    <div class="card">
            <div class="col-md-10">
                <div th:switch="${films}" class="container my-5">
                    <div th:switch="${users}" class="container my-5">
                        <form action="#" th:action="@{/review/add}" th:object="${review}" method="post">
                            <div class="row">
                                <div class="form-group col-md-8">
                                    <label class="col-form-label">user</label>
                                    <select th:field="*{user}">
                                        <option th:each="user : ${users}"
                                                th:value="${user.getId()}"
                                                th:utext="${user.getName()}">
                                        </option>
                                    </select>
                                    <span th:if="${#fields.hasErrors('user')}" th:errors="*{user}" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-8">
                                    <label class="col-form-label">film</label>
                                    <select th:field="*{film}">
                                        <option th:each="film : ${films}"
                                                th:value="${film.getId()}"
                                                th:utext="${film.getName()}">
                                        </option>
                                    </select>
                                    <span th:if="${#fields.hasErrors('film')}" th:errors="*{film}" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-8">
                                    <label for="rating" class="col-form-label">rating</label> <input type="number" min="1" max="5" th:field="*{rating}" class="form-control" id="rating" placeholder="rating"> <span th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-8">
                                   <label for="date" class="col-form-label">date</label> <input type="date" th:field="*{date}" class="form-control" id="date" placeholder="date"> <span th:if="${#fields.hasErrors('date')}" th:errors="*{date}" class="text-danger"></span>
                                </div>

                                <div class="col-md-6">
                                 <input type="submit" class="btn btn-primary" value="Add review">
                                </div>

                        <div class="form-group col-md-8"></div>

                    </div>
                </form>
            </div>
                </div>
        </div>
    </div>
</div>
</body>

</html>