<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>
<body>
<div class="container my-5">
    <div th:replace="fragments/header :: header"></div>
    <h3> Add Review</h3>
    <div class="card">
        <div class="col-md-10">
            <div th:switch="${films}" class="container my-5">
                <div th:switch="${users}" class="container my-5">
                    <form action="#" th:action="@{/review/add}" th:object="${review}" method="post">
                        <div class="row">
                            <table class="table table-striped table-responsive-md">
                                <tbody>
                                <div class="form-group col-md-8">
                                    <td><label class="col-form-label">user</label>
                                        <select th:field="*{user}">
                                            <option th:each="user : ${users}"
                                                    th:value="${user.getId()}"
                                                    th:utext="${user.getName()}">
                                            </option>
                                        </select>
                                        <span th:if="${#fields.hasErrors('user')}" th:errors="*{user}" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-8">
                                    <td><label class="col-form-label">film</label>
                                        <select th:field="*{film}">
                                            <option th:each="film : ${films}"
                                                    th:value="${film.getId()}"
                                                    th:utext="${film.getName()}">
                                            </option>
                                        </select>
                                        <span th:if="${#fields.hasErrors('film')}" th:errors="*{film}" class="text-danger"></span></td>
                                </div>

                                <div class="form-group col-md-8">
                                    <td><label for="rating" class="col-form-label">rating</label> <input type="number" min="1" max="5" th:field="*{rating}" class="form-control" id="rating" placeholder="rating"> <span th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}"
                                                                                                                                                                                                                         class="text-danger"></span></td>
                                </div>
                                <div class="form-group col-md-8">
                                    <td><label for="comment" class="col-form-label">comment</label> <input type="text" th:field="*{comment}" class="form-control" id="comment" placeholder="comment"> <span th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}" class="text-danger"></span></td>
                                </div>
                                <div class="form-group col-md-8">
                                    <td><label for="date" class="col-form-label">date</label> <input type="date" th:field="*{date}" class="form-control" id="date" placeholder="date"> <span th:if="${#fields.hasErrors('date')}" th:errors="*{date}" class="text-danger"></span></td>
                                </div>
                            </table>
                            <div class="col-md-6">
                                <input type="submit" class="btn btn-primary" value="Add review">
                            </div>

                            <div class="form-group col-md-8"></div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>