<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<div class="container my-2">
    <div th:replace="fragments/header :: header"></div>
    <div class="card">
        <div class="card-body">
            <div th:switch="${allUsers}" class="container my-5">
                <div class="col-md-10">
                    <h2 th:case="null">Admin!</h2>
                    <div th:case="*">
                        <table class="table table-striped table-responsive-md">
                            <thead>
                            <th>ID</th>
                            <th>UserName</th>
                            <th>Login</th>
                            <th>Password</th>
                            <th>Roles</th>
                            <th>Delete</th>
                            </thead>
                            <tbody>
                            <tr th:each="user : ${allUsers}">
                                <td th:text="${user.id}"></td>
                                <td th:text="${user.name}"></td>
                                <td th:text="${user.email}"></td>
                                <td th:text="${user.password}"></td>
                                <td th:each="roles : ${user.roles}" th:text="${roles.roleName}"></td>
                                <td><a th:href="@{/user/delete/{id}(id=${user.id})}"><i class="fa fa-trash" style="font-size:20px"></i></a></td>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>