<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Films</title>
<head th:replace="fragments/head :: head"></head>
<body>
<div class="container my-2">
    <div th:replace="fragments/header :: header"></div>
    <div class="card">
        <div class="card-body">
            <div th:switch="${films}" class="container my-5">
                <div class="col-md-10">
                    <h2 th:case="null">Films!</h2>
                    <div th:case="*">
                        <table class="table table-striped table-responsive-md">
                            <thead>
                            <tr>
                                <th>Film name</th>
                                <th>Description</th>
                                <th>Release year</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="film : ${films}">
                                <td th:text="${film.name}"></td>
                                <td th:text="${film.description}"></td>
                                <td th:text="${film.year}"></td>
                                <td><a th:href="@{/film/edit/{id}(id=${film.id})}"><i class="fa fa-edit" style="font-size:20px"></i></a></td>
                                <td><a th:href="@{/film/delete/{id}(id=${film.id})}"><i class="fa fa-trash" style="font-size:20px"></i></a></td>
                            </tr>
                            </tbody>
                        </table>
                        <button><a href="#" th:href="@{/film/add}">Add Film</a> </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>