<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<head>
<link href="../resources/static/css/login.css" th:href="@{/css/login.css}" rel="stylesheet" media="screen" />
</head>
<div th:replace="fragments/header :: header"></div>
<body>
<div class="ribbon"></div>
<div class="login">
    <h1>Let's get started.</h1>
    <p>This will be an amazing experience</p>
    <form action="#" th:action="@{/login}" method="post">
        <div class="input">
            <div class="blockinput">
                <i class="icon-envelope-alt"></i> <input type="email" id="username" name="username" placeholder="email"/>
            </div>
            <div class="blockinput">
                <i class="icon-unlock"></i><input type="password" id="password" name="password" placeholder="password"/>
            </div>
        </div>
        <button type="submit">login</button>
        <p class="message">Not registered?
            <a href="/registration">Create an account</a>
        </p>
    </form>
</div>
</body>

<div th:replace="fragments/footer :: footer"></div>
</html>