<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
        <link href="../resources/static/css/registration.css" th:href="@{/css/login.css}" rel="stylesheet" media="screen" />

</head>
<head th:replace="fragments/head :: head"></head>
<div th:replace="fragments/header :: header"></div>
<body>
<div class="ribbon"></div>
<div class="login">
    <h1>Let's get started.</h1>
    <p>This will be an amazing experience</p>
        <form  action="#" th:action="@{/registration}"   th:object="${user}" method="post">
            <div class="blockinput">
                <label for="name" class="col-form-label"></label> <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="name"> <span th:if="${#fields.hasErrors('name')}" class="text-danger"></span>
            </div>

            <div class="blockinput">
                <label for="password" class="col-form-label"></label> <input type="password" th:field="*{password}" class="form-control" id="password" placeholder="password"> <span th:if="${#fields.hasErrors('password')}"  class="text-danger"></span>
            </div>

            <div class="blockinput">
                <label for="email" class="col-form-label"></label> <input type="email" th:field="*{email}" class="form-control" id="email" placeholder="email"> <span th:if="${#fields.hasErrors('email')}"  class="text-danger"></span>
            </div>

            <button type="submit">Registration</button>
            <p class="message">Already registered? <a href="/login">Sign In</a></p>
        </form>
    </div>
</div>



</body>
</html>