<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container my-5">
    <h3> Add Film</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <div th:switch="${avgRating}" class="container my-5">
                    <div th:switch="${minRating}" class="container my-5">
                        <div th:switch="${maxRating}" class="container my-5">
                            <div class="row">
                                <table class="table table-striped table-responsive-md">
                                    <thead>
                                    <tr>
                                        <th>AVG Rating</th>
                                        <th>Min Rating</th>
                                        <th>Max Rating</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <td th:text="${avgRating}"></td>
                                    <td th:text="${minRating}"></td>
                                    <td th:text="${maxRating}"></td>
                                    <tbody>
                                </table>
                            </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>