<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container my-5">
    <h3> Update user</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-8">
                <form action="#" th:action="@{/user/update/{id}(id=${user.id})}" th:object="${user}" method="post">
                    <div class="row">
                        <table class="table table-striped table-responsive-md">
                            <tbody>
                            <div class="form-group col-md-6">
                                <td><label for="name" class="col-form-label">Name</label> <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Name"> <span th:if="${#fields.hasErrors('name')}"                                                                                                                                             th:errors="*{name}"class="text-danger"></span></td>
                            </div>
                        </table>
                        </tbody>
                        <div class="form-group col-md-8">
                            <input type="submit" class="btn btn-primary" value="Update user">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>